@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@font-face {
  font-family: "GenSenRoundedTW";
  src: url("./assets/fonts/GenSenRounded2TW-otf/GenSenRounded2TW-R.otf")
    format("opentype");
}

@theme {
  --color-primary: #fff2c6;
  --color-secondary: #fff8de;
  --color-tertiary: #aac4f5;
  --color-accent: #8ca9ff;

  --color-darker-primary: #f8cf48;
  --color-darker-secondary: #f2e0a2;
  --color-darker-accent: #6d8ef2;

  --color-light-brown: #dec19a;
  --color-brown: #6e3d1b;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    font-family: "Fredoka", "GenSenRoundedTW", sans-serif;

    @apply bg-tertiary/50;
    background-image: radial-gradient(#e3ebf8 20%, transparent 20%),
      radial-gradient(#e3ebf8 20%, transparent 20%);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .progress-bar::-moz-progress-bar {
    @apply bg-darker-accent;
  }

  .progress-bar-first::-moz-progress-bar {
    @apply bg-darker-primary;
  }
}
